*.class

# Maven
target/

# Eclipse
.settings/
.classpath
.project

# IDEA
.idea
*.iml

# Package Files #
*.jar
*.war
*.ear
__pycache__

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Scala project: .cache-main
.cache-main

# log
logs

# Mac book
.DS_Store

# project file
MNIST_data
